.element-class {
  outline: none; /* Remove outline on focus */
  cursor: pointer;
}

.element-class:focus {
  outline: none; /* Ensure no outline is shown on focus */
}

// mp3-file-list.component.scss
.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  font-family: Arial, sans-serif;

  button {
    background-color: 
    #36454f;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s, opacity 0.3s;

    &:disabled {
      background-color: #d6d6d6;
      cursor: not-allowed;
    }

    &:not(:disabled):hover {
      background-color: 
      #111111;
    }
  }

  span {
    font-size: 16px;
    margin: 0 10px;
    color: #333;
  }
}
